<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myjspService</display-name>
  <welcome-file-list>
    <welcome-file>showStudentsByPage</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addStudent</display-name>
    <servlet-name>addStudent</servlet-name>
    <servlet-class>com.sofency.servlet.addStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStu</display-name>
    <servlet-name>deleteStu</servlet-name>
    <servlet-class>com.sofency.servlet.deleteStu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStu</servlet-name>
    <url-pattern>/deleteStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeStudent</display-name>
    <servlet-name>changeStudent</servlet-name>
    <servlet-class>com.sofency.servlet.changeStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeStudent</servlet-name>
    <url-pattern>/changeStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showStudentsByPage</display-name>
    <servlet-name>showStudentsByPage</servlet-name>
    <servlet-class>com.sofency.servlet.showStudentsByPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showStudentsByPage</servlet-name>
    <url-pattern>/showStudentsByPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchStudent</display-name>
    <servlet-name>searchStudent</servlet-name>
    <servlet-class>com.sofency.servlet.searchStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchStudent</servlet-name>
    <url-pattern>/searchStudent</url-pattern>
  </servlet-mapping>
</web-app>