<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
       <!-- 数据源 -->
       <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
       		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
       		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/sofency?serverTimezone=UTC"></property>
       		<property name="user" value="root"/>
       		<property name="password" value="19980120"/>
       </bean>
       <!-- Dao层 -->
       <bean id="transferDaoId" class="com.sofency.transferDaoImpl.transferMoneyImpl">
       	    <property name="dataSource" ref="dataSource"></property>
       </bean>
       <!-- service层 -->
       <bean id="transferServiceId" class="com.sofency.transferServiceImpl.transferImpl">
       	    <property name="transfer" ref="transferDaoId"></property>
       	    <property name="transaction" ref="transactionTemplate"></property>
       </bean>
       
       <!-- 创建代理对象
       4  service代理对象
       4.1 proxyInterfaces 接口
       4.2 target 目标类
       4.3 transactionManager 事物管理器
       4.4 transactionAttributes 事务属性(事务详情)
           prop。key  确定哪些方法使用当前事务配置
           prop.text  用于配置事务详情
                                        格式  PROPAGATION   ISOLATION readOnly   -Exception  +Exception
                                                    传播行为                                   隔离级别                   是否只读                异常回滚                   异常提交
        -->
       
       <bean id="ProxytransferServiceId" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
       		<property name="proxyInterfaces" value="com.sofency.transferService.transfer"></property>
       		<property name="target" ref="transferServiceId"></property>
       		<property name="transactionManager" ref="txManager"></property>
       		<property name="transactionAttributes">
       			<props>
       				<prop key="transferMoney">PROPAGATION_REQUIRED,ISOLATION_DEFAULT</prop>       			
       			</props>
       		</property>
       </bean>
       
       <!-- 创建模板 
       引入事务管理器
       -->
       <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
           <property name="transactionManager" ref="txManager"></property>
       </bean>
       <!-- 配置事务管理器 -->
       <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       		<property name="dataSource" ref="dataSource"></property>
       </bean>
</beans>