<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
        <!--将加上注解@Controller的类作为springmvc的控制层  当然也可以不用配置  使用下面的方式注入controller-->
         <context:component-scan basePackage="com.sofency.top"/> 
        <!-- 创建Handler -->
        
        <!-- 视图解析器     解析jsp 默认使用jstl标签  classpath下需要有jstl的包 -->
        <bean id="viewResolver"class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <property name="prefix" value="/WEB-INF/"></property><!--前缀-->
            <property name="suffix value=".jsp"></property><!--后缀-->
        </bean>
        <!--对于传统jsp对于静态资源文件的处理-->
        <mvc:default-servlet-handler/>                                       

</beans>
