<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 目标类 -->
	<bean id="userServiceId" class="com.sofency.factory_bean.UserServiceImpl"></bean>
	
	<!-- 创建切面类 -->
	
	<bean id="myAspectId" class="com.sofency.factory_bean.MyAspect"></bean>
	
	<!-- 创建代理类 -->
	<!-- 用户创建代理工厂Bean  生成特殊的代理对象 -->
	
	<bean id="proxyServiceId" class="org.springframework.aop.framework.ProxyFactoryBean">
 	    <!-- 确定接口类 通过array可以设置多个值   只有一个值时   value="" -->
		<property name="interfaces" value="com.sofency.factory_bean.UserService"></property>
		<!-- target :确定目标类   -->
		<property name="target" ref="userServiceId"></property>
		<!-- 切面类 -->
		<property name="interceptorNames" value="myAspectId"></property>
		<!-- 强制使用cglib -->
		<property name="optimize" value="true"></property>
	</bean>
</beans>