<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
        <!-- 扫描数据源的配置文件 -->
         <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
        <!-- spring管理数据源 -->
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        	<property name="driverClassName" value="${jdbc.driver}"></property>
        	<property name="url" value="${jdbc.url}"></property>
        	<property name="username" value="${jdbc.username}"></property>
        	<property name="password" value="${jdbc.password}"></property>
        	<property name="maxActive" value="10"></property>
        	<property name="maxIdle" value="5"></property>
        </bean>
        
        <!-- 配置sqlSessionFactory锁需要的文件 -->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        	<!-- 配置数据源 -->
        	<property name="dataSource" ref="dataSource"></property>
        	<!-- 加载mybatis的配置文件 -->
			<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
        </bean>
        
        <!-- 扫描mapper -->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        	<!-- 注意mapper的xml和接口类在一个文件里面 -->
        	<property name="basePackage" value="com.sofency.ssm.mapper"></property>
        	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        </bean>
        
</beans>