<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jspfilter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>myservlet</display-name>
    <servlet-name>myservlet</servlet-name>
    <servlet-class>com.sofency.servlet.myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myservlet</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
  
  <!-- 过滤器配置  过滤器链  哪个filtermapping在前面就先执行谁 -->
  <filter>
    <filter-name>myservlet</filter-name>
    <filter-class>com.sofency.filter.myfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myservlet</filter-name>
    <url-pattern>/myservlet</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>myfilter2</display-name>
    <filter-name>myfilter2</filter-name>
    <filter-class>com.sofency.filter.myfilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myfilter2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>