<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="getWindowId" class="com.sofency.c_staticFactory1.MyStaticFactory" factory-method="makeFactory">
	<constructor-arg value="window"></constructor-arg><!--配置make函数的参数-->
</bean>
<bean id="getTyreId" class="com.sofency.c_staticFactory1.MyStaticFactory" factory-method="makeFactory">
	<constructor-arg value="Tyre"></constructor-arg>
</bean>
</beans>